html {
  padding: 0.5em;
  font-family: Trebuchet MS, fantasy;
  font-size: 2em;
  background: #EDEBD5;
}

input {
  font-family: Trebuchet MS, fantasy;
  font-size: 1em;  
}

select {
  font-family: Trebuchet MS, fantasy;
  font-size: 1em;  
}

h1 {
  background-color: darkred;
  font-family: Impact;
  font-color: gray;
  text-align: center;
}

/*#container {
  font-style: Arial;
  font-color: red;  
  font-size: 20em;
}
*/
label {
  display: block;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1em;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin: 1em 0 0.5em 0;
  padding: 5px;
}

table {
  background-color: gray;
  border: 2px solid black;
  border-collapse: collapse;
}
td {
  padding: 8px;
  border: 1px solid darkred;
}